{% extends "layout.html" %}

{% block content %}
        <div class="about-section">
            <div class="inner-container">
                <h1>About Me</h1>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quas 
                    magni totam rerum iste, repudiandae accusantium 
                    consequuntur tempore ratione, nulla, aliquid 
                    necessitatibus voluptatibus maxime sequi consectetur 
                    ipsam quos rem veniam?
                </p>
                <div class="contact">
                    <span>NUTTASIT TINMAS 6610110096</span>
                </div>
            </div>
        </div>

{% endblock %}