{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <br/><br/>
            <h1>Welcome to the Movie Recommender System</h1>
            <br7>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h4><br/><br/><br/>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, quam.<br/><br/>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, possimus.<br/><br/>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, temporibus!<br/><br/>
            </h4>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}