{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <hr>
            <br/><h1>Movies chosen for you</h1><br/>
    </div>

        <table id="movietable" class="table table-hover">
            <thead>
                <tr>
                    <th>Movie Title</th>
                    <th>Predicted Rating</th>
                    <th>Overview</th>
                </tr>
            </thead>

            <tbody>
                {% for movie in movies[:5] %}
                    <tr>
                        <td> {{ movie["title"] }} </td>
                        <td> {{ movie["vote_average"] }} </td>
                        <td> {{ movie["overview"] }} </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}